<style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
</style>

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
  
    <div class="container marketing">
  
      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img src="assets/img/cappucino.jpg" class="rounded-circle" width="140" height="140">
          <h2>Cappuccino</h2>
          <p id="desc">A coffee-based drink made primarily from espresso and milk. It consists of one-third espresso, one-third heated milk and one-third milk foam and is generally served in a 6 to 8-ounce cup. The cappuccino is considered one of the original espresso drinks representative of Italian espresso cuisine and eventually Italian-American espresso cuisine.</p>
          <p><a class="btn btn-secondary" href="https://coffee.fandom.com/wiki/Cappuccino" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img src="assets/img/latte.jpg" class="rounded-circle" width="140" height="140">
       <h2>Latte</h2>
          <p id="desc">Caffe latte is a coffee drink made with espresso and steamed milk. The word comes from the Italian caffè e latte, caffelatte or caffellatte, which means "coffee & milk".</p>
          <p ><a class="btn btn-secondary" href="https://en.wikipedia.org/wiki/Latte" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img src="assets/img/express.jpg" class="rounded-circle" width="140" height="140">
          <h2>Expresso</h2>
          <p id="desc">Espresso is a coffee-making method of Italian origin, in which a small amount of nearly boiling water is forced under pressure through finely-ground coffee beans. Espresso coffee can be made with a wide variety of coffee beans and roasts.</p>
          <p><a class="btn btn-secondary" href="https://en.wikipedia.org/wiki/Espresso" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <h1>And many more!</h1>
      </div><!-- /.row -->
  
  
      <!-- START THE FEATURETTES -->
  
      <hr class="featurette-divider">
  
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Our Aim. <span class="text-muted">It’ll blow your mind.</span></h2>
          <p class="lead">To encourage an empowering environment through self service.</p>
        </div>
        <div class="col-md-5">
          <img src="assets/img/self.jpg" class="rounded-circle" width="500" height="500">
        </div>
      </div>
  
      <hr class="featurette-divider">
  
      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading">Disabled lives <s>matter</s> deserve coffee too!<span class="text-muted">See for yourself.</span></h2>
          <p class="lead">Our new incentives for people with disability is for them to move from the status of dependent users of service to that of citizens who are independent and exercise choice and control.</p>
        </div>
        <div class="col-md-5 order-md-1">
          <img src="assets/img/disabled.jpg" class="rounded-circle" width="400" height="400">

        </div>
      </div>
  
      <hr class="featurette-divider">
  
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">And lastly,<span class="text-muted">A little more about our development team.</span></h2>
          <p class="lead">The development team consists of three third year University of Technology students who are pursuing a bachelor in Computer Science. Mr. Chad Oliver is a 19 year old coding genius and can also be considered to be a ladies man, Mr.Dave Robinson is the comedian among the three and is a very loyal person and last but not least Mr.Otra Baker the heart of the three, he keeps the peace and is also a loyal person. </p>
        </div>
        <div class="col-md-5">
          <img src="assets/img/disabled.jpg" class="rounded-circle" width="400" height="400">

        </div>
      </div>
  
      <hr class="featurette-divider">
  
      <!-- /END THE FEATURETTES -->
  
    </div><!-- /.container -->
  
  

