<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">CUPS</a>
    <i class="fa fa-coffee" aria-hidden="true"></i>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="manager-signin">Management</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="customer-signin" tabindex="-1">Customer</a>
        </li>
      </ul>
    </div>
    <a class="navbar-brand" href="#">Cups Uplifting People &nbsp;
        <i class="fa fa-instagram" aria-hidden="true"></i>&nbsp;&nbsp;
        <i class="fa fa-twitter" aria-hidden="true"></i>&nbsp;&nbsp;
        <i class="fa fa-facebook" aria-hidden="true"></i>&nbsp;&nbsp;
        <i class="fa fa-whatsapp" aria-hidden="true"></i>&nbsp;&nbsp;


    </a>

  </nav>
