  <div class="row">
    <div class="col-sm-6">
        <div class="card text-center" style="width:300px">
            <div class="card-header">
              Cappuccinno
            </div>
            <div class="card-body">
              <h5 class="card-title">$6.99</h5>
              <img src="assets/img/cappucino.jpg" class="card-img-middle" height="240" width="240">
            </div>
            <div class="card-footer text-muted">
              10
            </div>
          </div>
    </div>
    <div class="col-sm-6">
        <div class="card text-center" style="width:300px">
            <div class="card-header">
              Americano
            </div>
            <div class="card-body">
              <h5 class="card-title">$5.99</h5>
              <img src="assets/img/coffee2.jpg" class="card-img-middle" height="240" width="240">
            </div>
            <div class="card-footer text-muted">
                12
            </div>
          </div>
      </div>
  
  </div>